<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.medical.mapper.ContactUsMapper">
    
    <resultMap type="ContactUs" id="ContactUsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="phone"    column="phone"    />
        <result property="image"    column="image"    />
        <result property="detail"    column="detail"    />
        <result property="email"    column="email"    />
        <result property="age"    column="age"    />
        <result property="school"    column="school"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectContactUsVo">
        select id, name, sex, phone, image, detail, email, age, school, create_by, create_time, update_by, update_time from contact_us
    </sql>

    <select id="selectContactUsList" parameterType="ContactUs" resultMap="ContactUsResult">
        <include refid="selectContactUsVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="school != null  and school != ''"> and school = #{school}</if>
        </where>
    </select>
    
    <select id="selectContactUsById" parameterType="Long" resultMap="ContactUsResult">
        <include refid="selectContactUsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertContactUs" parameterType="ContactUs" useGeneratedKeys="true" keyProperty="id">
        insert into contact_us
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="phone != null">phone,</if>
            <if test="image != null">image,</if>
            <if test="detail != null">detail,</if>
            <if test="email != null">email,</if>
            <if test="age != null">age,</if>
            <if test="school != null">school,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="phone != null">#{phone},</if>
            <if test="image != null">#{image},</if>
            <if test="detail != null">#{detail},</if>
            <if test="email != null">#{email},</if>
            <if test="age != null">#{age},</if>
            <if test="school != null">#{school},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateContactUs" parameterType="ContactUs">
        update contact_us
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="image != null">image = #{image},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="email != null">email = #{email},</if>
            <if test="age != null">age = #{age},</if>
            <if test="school != null">school = #{school},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContactUsById" parameterType="Long">
        delete from contact_us where id = #{id}
    </delete>

    <delete id="deleteContactUsByIds" parameterType="String">
        delete from contact_us where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>