<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.medical.mapper.MutationMapper">
    
    <resultMap type="Mutation" id="MutationResult">
        <result property="id"    column="id"    />
        <result property="hla"    column="hla"    />
        <result property="mutatedPeptide"    column="mutated_peptide"    />
        <result property="yPred"    column="y_pred"    />
        <result property="yProb"    column="y_prob"    />
        <result property="originalPeptide"    column="original_peptide"    />
        <result property="similarity"    column="similarity"    />
        <result property="chainNum"    column="chain_num"    />
        <result property="startNum"    column="start_num"    />
        <result property="originalId" column="original_id"/>
        <result property="thermodynamic"    column="thermodynamic"    />
        <result property="xAxis"    column="x_axis"    />
        <result property="yAxis"    column="y_axis"    />
        <result property="maxValue"    column="max_value"    />
        <result property="minValue"    column="min_value"    />
        <result property="mutationSite"    column="mutation_site"    />
        <result property="isTcr"    column="is_tcr"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMutationVo">
        select id, hla, mutated_peptide, y_pred, y_prob, original_peptide, similarity, chain_num, start_num,
               original_id, thermodynamic, x_axis, y_axis, max_value, min_value, mutation_site, is_tcr, create_by,
               create_time, update_by, update_time from mutation
    </sql>

    <select id="selectMutationList" parameterType="Mutation" resultMap="MutationResult">
        <include refid="selectMutationVo"/>
        <where>  
            <if test="hla != null  and hla != ''"> and hla = #{hla}</if>
            <if test="mutatedPeptide != null  and mutatedPeptide != ''"> and mutated_peptide = #{mutatedPeptide}</if>
            <if test="yPred != null "> and y_pred = #{yPred}</if>
            <if test="yProb != null "> and y_prob &gt;= #{yProb}</if>
            <if test="originalPeptide != null  and originalPeptide != ''"> and original_peptide = #{originalPeptide}</if>
            <if test="similarity != null "> and similarity = #{similarity}</if>
            <if test="originalId != null "> and original_id = #{originalId}</if>
            <if test="isTcr != null and isTcr != ''"> and is_tcr = #{isTcr}</if>
        </where>
    </select>
    
    <select id="selectMutationById" parameterType="Long" resultMap="MutationResult">
        <include refid="selectMutationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMutation" parameterType="Mutation" useGeneratedKeys="true" keyProperty="id">
        insert into mutation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hla != null">hla,</if>
            <if test="mutatedPeptide != null">mutated_peptide,</if>
            <if test="yPred != null">y_pred,</if>
            <if test="yProb != null">y_prob,</if>
            <if test="originalPeptide != null">original_peptide,</if>
            <if test="similarity != null">similarity,</if>
            <if test="chainNum != null">chain_num,</if>
            <if test="startNum != null">start_num,</if>
            <if test="originalId != null">original_id,</if>
            <if test="thermodynamic != null">thermodynamic,</if>
            <if test="xAxis != null">x_axis,</if>
            <if test="yAxis != null">y_axis,</if>
            <if test="maxValue != null">max_value,</if>
            <if test="minValue != null">min_value,</if>
            <if test="mutationSite != null">mutation_site,</if>
            <if test="isTcr != null">is_tcr,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hla != null">#{hla},</if>
            <if test="mutatedPeptide != null">#{mutatedPeptide},</if>
            <if test="yPred != null">#{yPred},</if>
            <if test="yProb != null">#{yProb},</if>
            <if test="originalPeptide != null">#{originalPeptide},</if>
            <if test="similarity != null">#{similarity},</if>
            <if test="chainNum != null">#{chainNum},</if>
            <if test="startNum != null">#{startNum},</if>
            <if test="originalId != null">#{originalId},</if>
            <if test="thermodynamic != null">#{thermodynamic},</if>
            <if test="xAxis != null">#{xAxis},</if>
            <if test="yAxis != null">#{yAxis},</if>
            <if test="maxValue != null">#{maxValue},</if>
            <if test="minValue != null">#{minValue},</if>
            <if test="mutationSite != null">#{mutationSite},</if>
            <if test="isTcr != null">#{isTcr},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMutation" parameterType="Mutation">
        update mutation
        <trim prefix="SET" suffixOverrides=",">
            <if test="hla != null">hla = #{hla},</if>
            <if test="mutatedPeptide != null">mutated_peptide = #{mutatedPeptide},</if>
            <if test="yPred != null">y_pred = #{yPred},</if>
            <if test="yProb != null">y_prob = #{yProb},</if>
            <if test="originalPeptide != null">original_peptide = #{originalPeptide},</if>
            <if test="similarity != null">similarity = #{similarity},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMutationById" parameterType="Long">
        delete from mutation where id = #{id}
    </delete>

    <delete id="deleteMutationByIds" parameterType="String">
        delete from mutation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>